.reviews {
	padding-top: 53px;
	padding-bottom: 40px;
	&__item {
		text-align: center;
	}
	&__reviewer-name {
		font-size: 18px;
		line-height: 30px;
		font-weight: bold;
		margin: 0;
		margin-bottom: 8px;
	}

	&__quote {
		font-size: 14px;
		line-height: 30px;
		margin: 0;
		margin-bottom: 30px;
	}

	&__about-reviewer {
		font-size: 14px;
		line-height: 30px;
		margin: 0;
		display: none;
	}

	&__btn-prev, &__btn-next {
		display: none;
	}

	@media screen and (min-width: 700px) {
		padding-bottom: 20px;

		&__quote {
			margin-bottom: 35px;
			font-size: 18px;
		}

		&__reviewer-name {
			margin-bottom: 0;
			font-size: 20px;
			&--hide-sm {
				display: none;
			}
		}

		&__about-reviewer {
			margin-bottom: 33px;
			display: block;
		}
	}

	@media screen and (min-width: 1200px) {
		padding: 181px 0 33px;
		background-image: url('../img/quotes.svg');
		background-repeat: no-repeat;
		background-position: center 73px;
		&__controls {
			display: none;
		}

		&__reviewer {
			font-size: 24px;
		}

		&__about-reviewer {
			font-size: 18px;
			margin-bottom: 0;
		}

		&__quote {
			padding: 0 100px;
		}

		&__btn-prev, &__btn-next {
			display: inline-block;
			position: absolute;
			z-index: 10;
			top: 15%;
			width: 28px;
			height: 28px;
			border: none;
			outline: none;
			background: none;
			border-top: 2px solid #bec2c7;
			border-left: 2px solid #bec2c7;
		}

		&__btn-prev {
			left: 10px;
			transform: rotate(-45deg);
		}

		&__btn-next {
			right: 10px;
			transform: rotate(135deg);
		}
	}
}